@import url(common.css);

.hero {
  background-image: url(/img/jeju_orumi_background.jpg);
  width: 1920px;
  height: 720px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
}

.hero .hero-content-subtitle {
  font-family: Pretendard;
  font-weight: semibold;
  font-size: 28px;
  margin-bottom: 30px;
}

.hero-content-description {
  margin-bottom: 54px;
}

.hero-content-description h2 {
  margin-bottom: 12px;
}

.camp-story {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.camp-story .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 324px;
  gap: 10px;
  margin-bottom: 60px;
}

.small-card-title {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.camp-story .icon {
  text-align: right;
}

.camp-story-layout {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.camp-story-sidelist {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-card-title {
  border: 1px solid red;
}
